<!-- Search select -->
<mat-card class="SearchBar">
    <mat-form-field>
        <mat-select [(ngModel)] = "selectedJob" name = "job" required>
            <mat-option *ngFor = "let job of jobs" [value] = "job">
            {{job}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="SearchByJob(selectedJob)" color="dark">Search Job</button>
    <h1>{{robots.length}} Result(s) found!</h1>
</mat-card>
<!-- List found robots -->
<mat-card class="RobotCard" *ngFor="let robot of robots">
    <img class="jobImage" src="../../assets/images/jobImages/{{robot.job}}.png">
    <img src="../../assets/images/teamImages/{{robot.team}}.png">
    <h2>{{robot.name}}</h2>
    <mat-accordion>
        <mat-expansion-panel class="RobotCard" [expanded] = "false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                <b>Details</b>
                </mat-panel-title>
                <mat-panel-description>
                View Robot Details
                </mat-panel-description>
            </mat-expansion-panel-header>
            <table mat-table>
                <tr mat-row>
                    <th>Job:</th>
                    <td>{{robot.job}}</td>
                </tr>
                <tr mat-row>
                    <th>Team:</th>
                    <td>{{robot.team}}</td>
                </tr>
            </table>
        </mat-expansion-panel>
        <mat-expansion-panel class="RobotCard" [expanded] = "false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Stats</b>
            </mat-panel-title>
            <mat-panel-description>
              View Robot stats
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table>
                <tr mat-row>
                    <th>Health:</th>
                    <td>{{robot.health}}</td>
                </tr>
                <tr mat-row>
                    <th>Magic:</th>
                    <td>{{robot.magic}}</td>
                </tr>
                <tr mat-row>
                    <th>Attack:</th>
                    <td>{{robot.attack}}</td>
                </tr>
                <tr mat-row>
                    <th>Defense:</th>
                    <td>{{robot.defense}}</td>
                </tr>
                <tr mat-row>
                    <th>Speed:</th>
                    <td>{{robot.speed}}</td>
                </tr>
                <tr mat-row>
                    <th>Intelligence:</th>
                    <td>{{robot.intelligence}}</td>
                </tr>
          </table>
        </mat-expansion-panel>
        <mat-action-row>
            <button mat-button color="dark" [routerLink]="['/edit', robot._id]" >EDIT</button>
            <button mat-button (click)="DeleteRobot(robot._id)" color="dark">DELETE</button>
        </mat-action-row>
      </mat-accordion>
      
</mat-card>
