<!-- Search select -->
<mat-card>
    <mat-form-field>
        <mat-select [(ngModel)] = "selectedJob" name = "job" required>
            <mat-option *ngFor = "let job of jobs" [value] = "job">
            {{job}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="SearchByJob(selectedJob)" color="warn">Search Job</button>
</mat-card>
<!-- List found robots -->
<mat-accordion *ngFor="let robot of robots">
    <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header>
    <mat-panel-title>
    <h3> {{ robot.name }} </h3>
    </mat-panel-title>
    <mat-panel-description>
    <h3>{{ robot.job }}</h3>
    <h3>{{ robot.team }}</h3>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row>
    <button mat-button color="primary" [routerLink]="['/edit', robot._id]" >EDIT</button>
    <button mat-button (click)="DeleteRobot(robot._id)" color="warn">DELETE</button>
    </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
