<mat-card>
    <form (submit)="EditRobot(robotForm)" #robotForm="ngForm" method="POST">
    <mat-form-field>
        <label> Robot Name</label>
        <input
        matInput
        type="text"
        name="name"
        ngModel = {{robot.name}}
        required
        #title="ngModel">
    </mat-form-field>
    <mat-form-field>
        <label>Robot Job</label>
        <mat-select [(ngModel)] = "selectedJob" name = "job" required>
            <mat-option *ngFor = "let job of jobs" [value] = "job">
            {{job}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <label>Robot Team</label>
        <mat-select [(ngModel)] = "selectedTeam" name = "team" required>
            <mat-option *ngFor = "let team of teams" [value] = "team">
            {{team}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <label>Health:</label>
    <mat-slider thumbLabel min="1" max="99" [(ngModel)] = "selectHealth" name = "health"></mat-slider>
    <span>{{selectHealth}}</span><br />

    <label>Magic:</label>
    <mat-slider thumbLabel min="1" max="99" [(ngModel)] = "selectMagic" name = "magic"></mat-slider>
    <span>{{selectMagic}}</span><br />

    <label>Attack:</label>
    <mat-slider thumbLabel min="1" max="20" [(ngModel)] = "selectAttack" name = "attack"></mat-slider>
    <span>{{selectAttack}}</span><br />

    <label>Defense:</label>
    <mat-slider thumbLabel min="1" max="20" [(ngModel)] = "selectDefense" name = "defense"></mat-slider>
    <span>{{selectDefense}}</span><br />

    <label>Speed:</label>
    <mat-slider thumbLabel min="1" max="20" [(ngModel)] = "selectSpeed" name = "speed"></mat-slider>
    <span>{{selectSpeed}}</span><br />

    <label>Intelligence:</label>
    <mat-slider thumbLabel min="1" max="20" [(ngModel)] = "selectIntelligence" name = "intelligence"></mat-slider>
    <span>{{selectIntelligence}}</span><br />
    <button
    mat-raised-button
    color="accent"
    type="submit">Update Robot</button>
    </form>
    <img src="../../assets/images/jobImages/{{selectedJob}}.png">
</mat-card>
