<div class="HomePage">
<h1>Welcome to Robo quest.</h1>
<h2>The robot party creation app.</h2>
<div>
    <img class="jobImage" src="../../assets/images/jobImages/Warrior.png">
    <img class="jobImage" src="../../assets/images/jobImages/Monk.png">
    <img class="jobImage" src="../../assets/images/jobImages/Cleric.png">
    <img class="jobImage" src="../../assets/images/jobImages/Mage.png">
</div>
<div>
    <img class="jobImage" src="../../assets/images/jobImages/Bard.png">
    <img class="jobImage" src="../../assets/images/jobImages/Paladin.png">
    <img class="jobImage" src="../../assets/images/jobImages/Rogue.png">
    <img class="jobImage" src="../../assets/images/jobImages/Berserker.png">
</div>
</div>
